html {
    font-size: 64px;
}

body,
#container,
#calculator,
#display-container,
#keypad,
.keypad-row {
    display: flex;
}

body,
#calculator,
#keypad {
    flex-direction: column;
}

#keypad,
.keypad-row {
    gap: 5px;
    flex-grow: 1;
}

body {
    justify-content: center;
    align-items: center;
    font-family: monospace;
    height: 100vh;
}

#calculator {
    width: 6.25rem;
    height: 8rem;
    border-radius: 5px;
    padding: 16px;
    gap: 5px;
    background-color: darkslateblue;
}

#display-container {
    background-color: darkslategray;
    color: aliceblue;
    font-size: 1rem;
    height: 1.5rem;
    align-items: center;
    justify-content: right;
    padding-right: 5px;
    border: 2px solid black;
}

.key-button {
    font-size: .5em;
    border: 1px solid darkgray;
    border-radius: 5px;
    padding: 5px;
    flex: 1 1 0px;
    background-color: aliceblue;
}

.key-button:active {
    filter: brightness(50%);
}

.key-numeric {
    background-color: thistle;
}

.key-operation {
    background-color: lightsalmon;
}

#key-0 {
    flex-grow: 2.2;
}

#key-AC,
#key-DEL {
    background-color: lightblue;
}